                       /** Ordinateur **/
.container {
     display: grid;
     padding: 15px;
     grid-template-columns: repeat(8, auto);
     grid-template-rows: auto;
     grid-template-areas: "logo logo . nav nav nav nav inscrire ";
}
.menu-toggle {
    display: none;
}
.logo {
    grid-area: logo;
    display: grid;
    align-content: center;
    justify-content: center;
}

.nav {
    grid-area: nav;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.nav li a {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 40px;
    position: relative ;
    color: var(--main-one);
    transition: var(--main-transition);
    overflow: hidden;
}
.nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--main-two);
    transition: 0.5s;
    bottom: 0;
    left: -100%;
}
.nav li a:hover {
    color: var(--main-two);
    background-color: var(--second-one);
}
.nav li a:hover::before {
    left: 0;
}
.inscrire {
    grid-area: inscrire;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 40px;
    margin-top: 4px;
}
                       /** Tablette et Smartphone **/
@media(max-width: 990px){
    .container {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: auto auto;
        grid-template-areas: 
        "menu . logo logo . inscrire "
        "nav nav nav nav nav nav";
    
    }
    .menu-toggle {
        grid-area: menu;
        display: grid;
        border: none;
        background-color: #fff;
        height: 40px;

    }
    .logo {
        grid-area: logo;
    
    }
    .inscrire {
        grid-area: inscrire;

    }
    .nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: auto;
        margin-top: 10px;
    }
    .nav li a {
        color: var(--main-one);
        transition: 0.5s;
        border-radius: 2px;
    }
    .nav li a:hover {
        color: var(--second-two);
        background-color: var(--main-two);
    }
    .nav li a::before {
        display: none;
    }
    .menu-toggle span {
        height: 3px;
        width: 30px;
        background-color: var(--main-one);
        margin: auto;
        position: relative;
        border-radius: 1px;
        transition: var(--main-transition);
        
    }
    .menu-toggle.active span {
        background-color: transparent;
    }
    .menu-toggle span::before,
    .menu-toggle span::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 1px;
        background-color: var(--main-one);
        transition: var(--main-transition);
    }
    .menu-toggle span::before {
        transform: translateY(-6px);
    }
    .menu-toggle.active span::before {
        transform: rotate(45deg);
    }
    .menu-toggle span::after {
        transform: translateY(6px);
    }
    .menu-toggle.active span::after {
        transform: rotate(-45deg);
    }
    .hidden {
        display: none;
    }
    .color {
        background-color: var(--second-two);
    }
}

