<div class="equipements">
    <div class="equipement LatoB" *ngFor="let equipement of equipements">
        <img src="assets/icons/{{ equipement.icon}}" alt="" class="img">
        <p>{{equipement.nom}}</p>
    </div>
</div>

