<div class="en-tete">
    <div class="titre RobotoB">
        <h2>Listes des Réservations</h2>
    </div>
    <div class="items LatoB">
         <span>Id</span>
         <span>Habitat</span>
         <span>Locataire</span>
         <span>Statut</span>
    </div>
</div>   
<div class="habitat LatoB" *ngFor="let reservation of reservations">
        <span>{{reservation.id}}</span>
        <div class="habit">
            <img src="assets/habitats/{{reservation.habitat.id}}/{{reservation.habitat.medias[0].fichier}}" >
            <span>{{reservation.habitat.titre}}</span>
        </div>
        <div class="user">
            <img src="assets/users/{{reservation.user.media.fichier}}" >
            <span>{{reservation.user.username}}</span>
        </div>
        <span class="annuler" *ngIf="reservation.Annulee" >Annulée</span>
        <span class="conserver" *ngIf="!reservation.Annulee">Conservée</span>
</div>
