<div class="container">
    <div class="commentaire">
        <h3 class="title RobotoB">
            Laisser un commentaire
        </h3>
        <form [formGroup]="signupForm" (ngSubmit)="publier()" class="LatoR">
            <div class="group LatoB">
                <label for="nom">Message</label>
                <input type="text" id="comment"  formControlName="comment">
            </div>
            <button class="btn LatoR" type="submit" >Publier</button>
        </form>
    </div>
</div>

