<div class="en-tete">
    <div class="titre RobotoB">
        <h2>Listes des Catégories</h2>
    </div>
    <div class="items LatoB">
         <span>Icon</span>
         <span>Id</span>
         <span>Nom</span>
    </div>
</div>   
<div class="equipement LatoB" *ngFor="let equipement of equipements">
         <div class="nom">
             <img src="assets/icons/{{equipement.icon}}" >
        </div>
        <span >{{equipement.id}}</span>
        <span >{{equipement.nom}}</span>
        <div class="icon">
            <a>
                <fa-icon class="edit" [icon]="edit"></fa-icon>
            </a>
            <a>
                <fa-icon  class="delete" [icon]="delete"></fa-icon>
            </a>

        </div>
        
</div>
