<div class="container">
    <div class="form">
        <div class="title RobotoB">
            Crée votre compte locataire
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="saveLocData()" class="LatoR">
            <div class="group">
                <label for="nom" >Votre nom</label>
                <input type="text" id="nom" placeholder="Robert" formControlName="nom">
            </div>
            <div class="group">
                <label for="email" >Votre adress mail</label>
                <input type="text" id="email" placeholder="JeanRobert@yahoo.fr" formControlName="email">
            </div>
            <div class="group">
                <label for="password" >Votre mot de passe</label>
                <input type="text" id="password" placeholder="" formControlName="password">
            </div>
            <div class="group">
                <label for="confirmPass" >Confirmer votre mot de passe</label>
                <input type="text" id="password" placeholder="" formControlName="confirmed_password">
            </div>
            <button class="btn" type="submit">Enregistrer</button>
            <p class="conditions"> 
                <input type="checkbox">
                CONDITIONS GÉNÉRALES D’UTILISATION et DE VENTE
                <a routerLink="auth/signin">Voir</a> 
            </p>
            <p> Vous avez déjà un compte ?  
                <a routerLink="auth/signin">Se connecter</a> 
            </p>
        </form>

    </div>
    
</div>
