<div class="menu">
    <div class="profile" (click)="menuToggle()">
        <img src="assets/users/01.jpg">  
    </div>
    <div class="links LatoB" [class.active]="toggler">
        <ul >
            <li>
                <fa-icon [icon]="faUserCircle"></fa-icon>
                <a href="">Mon profile</a>
            </li>
            <li>
                <fa-icon [icon]="faHouseUser"></fa-icon>
                <a href="">Mes reservations</a>
            </li>
            <li>
                <fa-icon [icon]="faSignOutAlt"></fa-icon>
                <a href="">Deconnexion</a>
            </li>
        </ul>

    </div>
    
</div>
