.menu {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 5px;
}
.profile img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.links {
    background: var(--second-two);
    padding: 30px 10px;
    border-radius: 12px;
    position: relative;   
    visibility: hidden;
    opacity: 0;
}
.active {
    visibility: visible;
    opacity: 1;
}
.links::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 25px;
    width: 20px;
    height: 20px;
    background: var(--second-two);
    transform: rotate(45deg);
}
.links ul {
    display: flex;
    flex-direction: column;
}
.links ul li {
    border-top: 1px solid var(--main-two);
    display: flex;
    align-items: center;
    padding: 10px 0 ;
}
.links ul li fa-icon {
    max-width: 25px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--main-transition);
}
.links ul li:hover fa-icon {
    opacity: 1;
}
.links ul li a {
    color: #555;
    font-weight: 500;
    transition: var(--main-transition);

}
.links ul li:hover a {
    color: var(--main-two);
}