<div class="en-tete">
    <div class="titre RobotoB">
        <h2>Listes des Utilisateus</h2>
    </div>
    <div class="items LatoB">
         <span>Nom</span>
         <span>Id</span>
         <span>email</span>
         <span>roles</span>
    </div>
</div>   
<div class="habitat LatoB" *ngFor="let user of users">
        <div class="nom">
            <img src="assets/users/{{user.media.fichier}}" >
            <span>{{user.username}}</span>
        </div>
        <span >{{user.id}}</span>
        <span >{{user.email}}</span>
        <span  >{{user.roles}}</span>
</div>
