<div class="services">
    <div class="service" *ngFor="let service of services">
        <img src="assets/icons/{{service.icon}}.png" alt="" >
        <div class="text">
            <span class="nom LatoB">{{service.nom}}</span>
            <p class="LatoR">{{service.description}}</p>
        </div>
    </div>
</div>
