<div class="container">
    <div class="habitat"  *ngFor="let habitat of habitats">
         <div class="type LatoB">
             <h3>{{habitat.categorie.nom}}</h3>
         </div>
         <div class="img">
             <img src="assets/habitats/{{habitat.id}}/{{habitat.medias[0].fichier}}" >
             <div class="prix LatoB">{{habitat.prix}}€ / nuit </div>
         </div>
         <div class="info ">
             <span class="nom LatoB">
                 {{habitat.titre}}
             </span>
             <div class="destination LatoL">
                <p>{{habitat.destination.pays}}, {{habitat.destination.ville}}({{habitat.destination.departement}}) </p> 
             </div>
         </div>
    </div>
</div>
