<div class="container">
    <div class="titre">
        <h2 class="RobotoB">Nom habitats </h2>
    </div>
    <div class="categories">
        <div class="categorie LatoR" *ngFor="let categorie of categories">
            <div class="img">
                <img src="assets/categorie/{{categorie.image}}" alt="">
            </div>
            <div class="nom">
                <span class="nom">{{categorie.nom}}</span>
            </div>
            <div class="lien">
                <a (click)="voir()">Voir les habitats</a>
            </div>
            
        </div>
    </div>
    
</div> 
