<router-outlet></router-outlet>


<!--
<app-habitat-item></app-habitat-item>
 <app-header></app-header>
 <app-footer></app-footer>
 <app-habitat-item></app-habitat-item>
<app-hebergements></app-hebergements>
-->





