<div class="container">
    <div class="titre RobotoB">Mes réservations</div>
    <div class="reservation" *ngFor="let reservation of reservations">
        <div class="habitat">
            <img src="assets/habitats/{{reservation.habitat.id}}/{{reservation.habitat.medias[0].fichier}}" >
            <div class="info LatoB">
                <h3>{{reservation.habitat.titre}}</h3>
                <span class="LatoR ">effectué le {{reservation.DateReservation}}</span>
                <p class="LatoL" >{{reservation.habitat.adresse}}</p>
                <p class="LatoL">{{reservation.habitat.destination.pays}}, {{reservation.habitat.destination.ville}}({{reservation.habitat.destination.departement}}) </p> 
                 
            </div>
        </div>
        <div class="annuler LatoB" *ngIf="reservation.Annulee"> 
            Cette réservation a été annulée
        </div>
        <div class="details"> 
            <a href="#" class="LatoR">voir les détails </a>
        </div>
        
    </div>
</div>
