.container {
    display: flex;
    flex-direction: column;
    background: var(--second-one);
}
.titre {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.reservation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: var(--main-one);
}
.habitat {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    display: flex;  
}
.habitat img {
    width: 150px;
    height: 150px;
    margin-right: 8px
}
.habitat .info {
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 0;
}
.habitat .info h3 {
    margin-bottom: 5px;
}
.habitat .info span {
    margin-bottom: 30px;
}
.annuler {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background: var(--main-two);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.details {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    text-align: end;
    
}
.details a {
    color: var(--second-one);
    transition: var(--main-transition);
}
.details a:hover {
    color: var(--main-two);
}

@media(max-width: 700px){
    .reservation {
        display: grid;
        grid-template-columns:  auto;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 10px;
        background: var(--main-one);
    }
    .habitat {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
    }
    .habitat img {
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
    }
    .habitat .info {
        text-align: center;
    }
    .details {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
    }
    .annuler {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .annuler a {
        font-size: 18px;
    }
    

}