.container {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background: linear-gradient(135deg, var(--main-one), #284C96);
    position: relative;
}

.form {
    width: 100%;
    padding: 30px;
    background: var(--second-one);
    border-radius: 20px;
    z-index: 2;
    box-shadow: 38px 38px 56px #1e1e1e, -15px -15px 28px #282828;
    position: relative;
}
.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    transition: var(--main-transition);
}
.close-btn  fa-icon {
    font-size: 23px;
    cursor: pointer;
}
.close-btn:hover {
    color: var(--main-two);
}
.bienvenu {
    font-size: 35px;
    font-weight: 600p;
    margin-bottom: 30px;
}
.form .title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #2b2a2a;
}

.form form {
        display: grid;
        grid-template-columns: auto  ;
        grid-template-rows: auto auto auto;
        row-gap: 20px;  
 }

.form .group {
    display: grid;
}
.form .group input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    padding-left: 10px;
    font-size: 15px;
    transition: var(--main-transition);
}
.form .group input:focus {
    border-color: var(--main-one);
}
.form .btn {
    color: #000;
    border: none;
    background: linear-gradient(135deg, var(--main-one), #284C96);;
}
.form .btn::before{
    background: var(--main-two);
}
.form .btn:hover {
    color: var(--second-one);
} 
.form .oublier {
    text-align: center;
    color: var(--main-one);
}
.form p {
    text-align: center;
}
.form p a {
    color: var(--main-two);
}