<div class="container">
    <div class="form">
        <label class="close-btn"><fa-icon [icon]="faTimes"></fa-icon></label>
        <div class="bienvenu LatoB">Bienvenu</div>
        <div class="title LatoR">
            Connectez-vous à votre espace
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="Seconnecter()" class="LatoR">
           
            <div class="group">
                <label for="e-mail" >Email</label>
                <input type="email" id="email" placeholder="" formControlName="email">
            </div>
            <div class="group">
                <label for="password" >Mot de passe</label>
                <input type="password" id="password" placeholder="" formControlName="password">
            </div>
            <button class="btn LatoR" type="submit" >Connecter</button>
            <div class="oublier">Mot de passe oublié</div>
        
            <p>Don't have an account? Sing Up 
                <a routerLink='auth/signupLocataire'>Locataire</a> or <a routerLink='auth/signupProprietaire'>Propriétaire</a>
            </p>
        </form>
       

    </div>
    
</div>

