.en-tete {
    padding: 0 30px;
}
.en-tete .titre {
    margin-bottom: 30px;
} 
.en-tete .items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000 ;
    padding: 20px 0 20px 0;
    margin-bottom: 2px;
}
.en-tete .items span {
    font-size: 20px;
}

.service {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    margin-bottom: 3px;
    padding: 20px 30px;
    transition: var(--main-transition);
}
.service:hover {
    box-shadow: 0 2px 3px var(--second-one);
    background: var(--second-one);
}
.service :hover span {
    color: var(--main-two);
}

.service  a {
    margin-right: 10px;
    cursor: pointer;
}
.service a fa-icon {
    font-size: 20px;
}
.service:hover a .edit {
    color: var(--main-one)
}
.service:hover a .delete {
    color: var(--main-two);
}
@media(max-width:500px){
    .en-tete .items span {
        font-size: 15px;
    }   
    .service span {
        font-size: 11px;
    }
}