<div class="en-tete">
    <div class="titre RobotoB">
        <h2>Listes des Catégories</h2>
    </div>
    <div class="items LatoB">
         <span>Id</span>
         <span>Nom</span>
    </div>
</div>   
<div class="service LatoB" *ngFor="let service of services">
        <span >{{service.id}}</span>
        <span >{{service.nom}}</span>
        <div class="icon">
            <a>
                <fa-icon class="edit" [icon]="edit"></fa-icon>
            </a>
            <a>
                <fa-icon  class="delete" [icon]="delete"></fa-icon>
            </a>

        </div>
        
</div>

