.container {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, var(--main-one), #284C96);
}
.reservation {
   display: flex;
   flex-direction: column;
   background: rgba(0, 0, 0, 0.7);
   width: 70%;
}
.img {
    width: 100%;
    height: 400px;
    border-radius: 20px;
    position: relative;
}
.img img {
    width: 100%;
    height: 100%;
}
.img .annuler { 
    position: absolute;
    top: 10px;
    right: 0;
    background: var(--main-two);
    padding: 20px 10px;
    color: var(--second-two);
}

.dateR {
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--second-two);
    text-align: center;
    color: var(--second-two);
}
.montant {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--second-two);
    color: var(--second-two);
}
.montant span {
    font-size: 25px;
    margin-bottom: 10px;
}
.dates {
    display: flex;
    justify-content: space-around;
    color: var(--second-two);
}
.dates .heure {
    display: flex;
    padding: 10px 20px;
}
.dates .heure fa-icon {
    font-size: 25px;
    color: #F7F8F9;;
    margin-right: 10px;
}
.dates  .heure .text {
    display: flex;
    flex-direction: column;
}
.habitat {
    display: flex;
    justify-content: space-between;
    background: #F7F8F9;
    padding: 20px 30px;
}
.habitat .nom {
    font-size: 30px;
    color: #000;
    transition: var(--main-transition);
    cursor: pointer;

}
.habitat .nom:hover {
    color: var(--main-two);
}
.habitat .commenter {
    padding: 10px 30px;
    color: var(--second-two);
    background-color: var(--main-two);
    border-radius: 4px;
}