.container {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background: linear-gradient(135deg, var(--main-one), #284C96);
}
.form {
    background: var(--second-two);
    max-width: 800px;
    width: 100%;
    padding: 20px 30px;
    border-radius: 5px 5px 0 0;

}
.form .title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #2b2a2a;
}

.form form {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto auto auto auto;
        row-gap: 30px;
        column-gap: 10px;   
 }



.form .group {
    display: grid;
}
.form .group label {
    font-size: 17px;
    margin-bottom: 5px;
}
.form .group input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    padding-left: 10px;
    font-size: 15px;
    transition: var(--main-transition);
}
.form .group input:focus {
    border-color: var(--main-one);
}
.form .btn {
    grid-area: 4 / 1 / 4 / 3;
    color: #000;
    border: none;
    background: linear-gradient(135deg, var(--main-one), #284C96);;
}
.form .btn::before{
    background: var(--main-two);
}
.form .btn:hover {
    color: var(--second-one);
} 
.form .conditions {
    grid-area: 5 / 1 / 5 / 3;
    color: var(--main-two);
}
.form p {
    grid-area: 6 / 1 / 6 / 3;
    text-align: center;
}
.form p a {
    color: var(--main-one);
}