<div class="container">
    <div class="form">
        <div class="title RobotoB">
            Crée votre compte Proprietaire
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="savePropData()" class="LatoR">
            <div class="group">
                <label for="nom" >Votre nom</label>
                <input type="text" id="nom" placeholder="Klein" formControlName="nom">
            </div>
            <div class="group">
                <label for="prenom" >Votre Prenom</label>
                <input type="text" id="prenom" placeholder="Etienne" formControlName="prenom">
            </div>
            <div class="group">
                <label for="email" >Votre adress mail</label>
                <input type="email" id="email" placeholder="Klein34@gmail.com" formControlName="email">
            </div>
            <div class="group">
                <label for="tel" >Votre numero tel </label>
                <input type="number" id="tel" placeholder="0739872347" formControlName="tel">
            </div>
            <div class="group">
                <label for="password" >Votre mot de passe</label>
                <input type="password" id="password" placeholder="" formControlName="password">
            </div>
            <div class="group">
                <label for="confirmPass" >Confirmer votre mot de passe</label>
                <input type="password" id="password" placeholder="" formControlName="confirmed_password">
            </div>
            <button class="btn" type="submit">Enregistrer</button>
            <p class="conditions"> 
                <input type="checkbox">
                CONDITIONS GÉNÉRALES D’UTILISATION et DE VENTE
                <a routerLink="auth/signin">Voir</a> 
            </p>
            <p> Vous avez déjà un compte ?  
                <a routerLink="auth/signin">Se connecter</a> 
            </p>
        </form>

    </div>
    
</div>
